<div class="footer-block">
  <div class="footer-logo">
    <img src="/src/assets/ohmyfood.png" alt="Logo du site Ohmyfood!" />
  </div>
  <div class="footer-links">
    <div class="footer-duo">
      <div class="duo-block">
        <i class="fa-solid fa-utensils"></i>
      </div>
      <a href="#">Proposer un restaurant</a>
    </div>
    <div class="footer-duo">
      <div class="duo-block">
        <i class="fa-solid fa-hands-helping"></i>
      </div>
      <a href="#">Devenir partenaire</a>
    </div>
    <a href="#">Mentions légales</a>
    <a href="mailto:ohmyfood@live.fr">Contact</a>
  </div>
</div>
