.btn-box {
  padding: 3.5rem 0 4rem 0;
  text-align: center;
}

.gradient-btn {
  padding: 1rem 1.2rem;
  border: none;
  font-weight: bold;
  font-size: var(--fs-normal);
  color: var(--white);
  background: linear-gradient(-10deg, var(--primary) 25%, var(--secondary));
  box-shadow: 0 7px 9px -8px var(--darkshadow);
  border-radius: 30px;
  cursor: pointer;
}
