.loading-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

.disappear {
  animation: vanish 1s forwards;
  animation-delay: 2s;
}

@keyframes vanish {
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ringanim 2s linear infinite;
}

.ring::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

@keyframes ringanim {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356dc;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #ff79da;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #99e2d0;
  }
}

.load {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  animation: textanim 3s ease-in-out infinite;
}

@keyframes textanim {
  50% {
    color: black;
  }
}
