.menu {
  padding-top: 16rem;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.alafrancaise {
  background-image: url('/src/assets/restaurants/a_la_française.jpg');
}

.lapalettedugout {
  background-image: url('/src/assets/restaurants/la_palette_du_gout.jpg');
}

.ledelicedessens {
  background-image: url('/src/assets/restaurants/le_delice_des_sens.jpg');
}

.lanoteenchantee {
  background-image: url('/src/assets/restaurants/la_note_enchantee.jpg');
}

.menu-list {
  padding: 1rem;
  background-color: var(--lightgray);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .start {
    position: relative;
    padding-top: 1.5rem;
  }
}

.start::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 3px;
  width: 3rem;
  background-color: var(--new);
}

.restaurant-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .restaurant-title {
    font-family: 'Shrikhand', cursive;
    font-size: var(--fs-title);
  }

  .fa-heart {
    font-size: 1.25rem;

    &:hover {
      font-weight: 800;
      background: linear-gradient(-10deg, var(--primary) 25%, var(--secondary));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
