/* -----------------------------------BASE----------------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
}

header {
  padding-top: 1.5rem;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: var(--fs-big);
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: var(--fs-normal);
}

/* --------------------------------CUSTOM PROPERTIES-------------------------------- */
:root {
  --bg: #f2f2f2;
  --white: #fff;
  --lightgray: #e8e8e8;
  --gray: #ddd;
  --shadow: #b3b3b3;
  --primary: #9356dc;
  --secondary: #ff79da;
  --footer: #353839;
  --icons: #696e6a;

  --fs-small: 0.5rem;
  --fs-normal: 1rem;
  --fs-big: 1.3rem;
}

/* -----------------------------------HEADER----------------------------------- */
header .omf-logo {
  padding-bottom: 1rem;
}

header .omf-logo img {
  display: block;
  margin: 0 auto;

  object-fit: contain;
}

header .location {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 1rem 0;
  background-color: var(--gray);
}

header .location-text {
  padding: 0 1rem;
  font-weight: bold;
}

header .discover {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--lightgray);
}

header h1 {
  padding-bottom: 1rem;
}

header .discover-text {
  padding: 3rem 5rem 1.5rem 5rem;
  text-align: center;
}

header .btn-box {
  background-color: var(--lightgray);
  padding-bottom: 4.5rem;
}

header .explorer-btn {
  padding: 1rem 1.2rem;
  border: none;
  font-weight: bold;
  font-size: var(--fs-normal);
  color: var(--white);
  background: linear-gradient(-10deg, var(--primary) 25%, var(--secondary));
  box-shadow: 0px 0px 20px var(--shadow);
  border-radius: 30px;
}

/* ----------------------------STEPS-WRAPPER---------------------------- */
.steps-wrapper {
  padding: 2.5rem 0;
}

.steps-wrapper .steps-text {
  font-weight: bold;
  font-size: var(--fs-big);
  padding-bottom: 1rem;
}

/* ----------------------------STEPS-BUTTONS---------------------------- */
.steps-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 1.2rem;
}

.steps-buttons .steps-btn {
  display: flex;
  align-items: center;

  padding: 1rem 0;
  border: 2px var(--lightgray) solid;
  border-radius: 30px;
  background-color: var(--lightgray);
}

.steps-text {
  padding: 0 1.2rem;
  font-weight: bold;
}

.fa-layers {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0.8rem;
}

.fa-layers-text {
  position: absolute;
  font-size: 0.7rem;

  color: var(--white);
}

.fa-circle {
  color: var(--primary);
}

.fa-mobile-screen-button {
  padding: 0 2rem;
  color: var(--icons);
}

.fa-list {
  padding: 0 2rem;
  color: var(--icons);
}

.fa-burger {
  padding: 0 2rem;
  color: var(--icons);
}

/* -------------------------RESTAURANTS-WRAPPER------------------------- */
.restaurants-wrapper {
  padding: 3rem 0;
  background-color: var(--gray);
}

.restaurants-wrapper h1 {
  padding: 0 0 1rem 1rem;
}

/* ----------------------------CARD---------------------------------------- */
.card {
  display: flex;
  flex-direction: column;

  border: var(--gray) 1rem solid;
  border-radius: 25px;
  overflow: hidden;
}

.card .card-image img {
  object-fit: cover;
  object-position: 100% 50%;
  width: 100%;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  background-color: var(--white);
}

.card-bottom .card-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem 0;
}

.card-bottom .primary-text {
  font-weight: bold;
}

.fa-heart:hover {
  font-weight: 900;
}

/* -----------------------------FOOTER--------------------------------- */
footer {
  padding: 1.5rem 0;
  background-color: var(--footer);
}

footer a {
  text-decoration: none;
  color: var(--white);
}

footer .footer-block {
  padding: 0 1rem;
}

footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-logo {
  padding-bottom: 1rem;
}

.footer-logo img {
  -webkit-filter: invert(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.fa-utensils {
  color: var(--white);
}

.fa-handshake {
  color: var(--white);
}
